* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system,"BlinkMacSystemFont","Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif,"Segoe UI Emoji";
    background-color: #2d333b;
}
